{{#each allEvents}}
<h2>{{this.title}}</h2>

{{#if this.soldOut}}
<h3>SOLD OUT</h3>
{{else}}
<h3>{{this.tickets}}/{{this.capacity}}</h3>
{{/if}}

<ul>
  <li>{{this.description}}</li>
  <li>{{this.start_time}}</li>
  <li>{{this.end_time}}</li>
  {{#if this.over_21}}
  <h5>This event is 21+</h5>
  {{/if}}
</ul>
{{/each}}

{{#if error}}
<div class="error">
  {{error.message}}
</div>
{{/if}}

{{#each allEvents}}
<form class="register" action="/events/{{this.id}}" method="post">
{{/each}}
  <label for="pref-name">Preferred Name</label>
  <input required type="text" name="pref_name" value="">
  <label for="last-name">Last Name</label>
  <input required type="text" name="last_name" value="">
  <label for="birthday">Birthday</label>
  <input required type="date" name="birthday" value="">
  <label for="email">Email</label>
  <input required type="email" name="email" value="">
  <label for="ticket">Ticket Type</label>
  <select name="ticket_id">
    {{#each tickets}}
    <<option value="{{this.id}}">{{this.name}} - ${{this.price}}</option>
    {{/each}}
  </select><br />
  <input type="submit" name="" value="Register">
</form>
