<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<br>
{{#each allEvents}}
<h2>{{this.title}}</h2>
<ul>
  <li>{{this.description}}</li>
  <li>{{this.start_time}}</li>
  <li>{{this.end_time}}</li>
</ul>
{{/each}}
